.page_container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

.page_container .main {
    margin: 0 auto;
    flex: 1;
    width: 100vw;
    text-align: center;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding: 8vh 0 15px;
    justify-content: center;
}

.page_container .bottom_bar {
    flex-basis: 30px;
    display: flex;
    align-items: center;
    justify-content: stretch;
    width: 100%;
    min-height: 38px !important;
}
.main>.formouter {
    padding: 0.5rem;
    max-width: 786px;
    width: 100%;
}

.formouter>.formcover {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    text-align: center;
    width: 100%;
    min-height: 100px;
}

.formcover>.logo_image {
    margin: 0 auto !important;
    text-align: center;
    max-width: 281px;
    width: 100%;
    aspect-ratio: 4/1;
    position: relative;
}
.logo_image > span{
    width: 90% !important;
    margin: 0 auto !important;
}
.image {
    /* max-width: 281px; */
    width: 100%;
    /* max-height: 88px; */
    height: 100%;
    margin: 0 auto;
}
.ant-form-item {
    margin-bottom: 5px !important;
}
.formcover>.form_body {
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.02);
    border-radius: 16px;
    padding: 0.7rem;
    margin: 0 auto;
    text-align: start;
    margin-top: 20px;
    width: 100%;
}
.form_heading{
    margin-bottom: 20px !important;
}



/* change margin for small screen to 40px and medium screen to 50px */
.formcover>.loginFormFooter {
    text-align: center;
    margin: 30px auto 10px auto;
}

.loginFormFooter {
    font-size: 13px;
}

.loginFormFooter p {
    margin-bottom: 0;
    font-family: "WorkSans-Medium";
}

.link_underline {
    color: var(--link-blue) !important;
    text-decoration: underline !important;
}

.form_heading {
    font-style: normal;
    margin: 0 auto;
    text-align: center;
    font-weight: 600;
    font-size: 22px !important;
    font-family: "WorkSans-SemiBold";
}

.page_container .bottom_bar {
    background-color: #FE6330;
    padding: 0 10px;
    height: auto !important;
}

.glob_icon {
    height: 16px;
    width: 16px;
}

.forgetPassLink {
    font-size: 13px;
    margin: 7px 0 7px auto !important;
    color: var(--link-blue) !important;
    text-decoration: underline !important;
}

.form_submit_btn {
    width: 100%;
    background: #FE6330 !important;
    border: 1px solid #FE6330 !important;
    padding: 0.6rem !important;
    height: auto !important;
    border-radius: 8px !important;
}

.language {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: row !important;
    background-color: var(--link-blue) !important;
    padding: 0 0 0 8px !important;
    padding: 0 0 0 8px !important;
}

.link_white {
    color: white !important;
    font-size: 13px;
}

.footer_menu_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse !important;
}

.sidebar {
    height: 100vh;
    margin-right: 24px;
    position: fixed;
    max-width: 200px;
    width: 95%;
}

.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.logo {
    height: 32px;
    margin-left: 1rem;
}
.ant-drawer-content-wrapper{
    backdrop-filter: blur(40px) !important;
    -webkit-backdrop-filter: blur(40px) !important;
    background: linear-gradient(174.43deg, rgba(255, 255, 255, 0.35) -0.98%, rgba(255, 255, 255, 0.75) 99.51%) !important;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1) !important;
}
.ant-drawer-content{
    background-color: transparent !important;
}
.ant-menu-vertical{
    border-right: none !important;
}
.ant-menu{
    background-color: transparent !important;
}
.ant-menu-item.ant-menu-item-only-child{
    text-align: center !important;
}
.ant-drawer-mask{
    background-color: transparent !important;
}
.ant-drawer-body{
    padding-top: 100px !important;
    padding-bottom: 0 !important;
    display: flex;
    flex-direction: column;
}
.ant-menu-vertical{
    padding-top: 40px !important;
}
.ant-drawer-content-wrapper{
    max-width: 307px;
    width: 80% !important;
}
.menu_box{
    flex: 1;
}
.sidebar_footer{
    flex-basis: 30px;
    margin-top: 40px;
}


@media screen and (min-width : 450px) {
    .page_container .bottom_bar {
        padding: 0 10px;
    }

    .formcover>.form_body {
        padding: 1rem;
    }

    .form_heading {
        font-size: 25px !important;
    }

    .forgetPassLink,
    .loginFormFooter {
        font-size: 14px;
    }
    .ant-form-item {
        margin-bottom: 7px !important;
    }
    .formcover>.form_body {
        margin-top: 35px !important;
    }
    .formcover>.loginFormFooter {
        margin: 40px auto 10px auto;
    }
    .fpassword_link{
        margin-bottom: 15px !important;
    }
    .main>.formouter {
        padding: 1rem;
    }
}

@media screen and (min-width : 992px) {
    .page_container .bottom_bar {
        padding: 30px 12px;
    }

    .formcover>.form_body {
        padding: 1.6rem;
    }

    .form_heading {
        font-size: 30px !important;
    }

    .forgetPassLink,
    .loginFormFooter {
        font-size: 16px;
    }

    .footer_menu_row {
        flex-direction: row !important;
    }

    .language {
        background-color: transparent !important;
    }

    .menu {
        display: none;
    }
    .formcover>.form_body {
        margin-top: 50px !important;
    }
    .form_heading{
        margin-bottom: 35px !important;
    }
    .formcover>.loginFormFooter {
        margin: 50px auto 10px auto;
    }
}

@media screen and (min-width : 992px) {
    .menu_bar {
        margin: 0 auto !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 992px;
        width: 90%;
    }
}

@media screen and (min-width : 1100px) {
    .formcover>.form_body {
        padding: 1.5rem;
    }

    .form_heading {
        font-size: 36px !important;
    }

    .forgetPassLink,
    .loginFormFooter {
        font-size: 18px;
    }
}